.my-4 {
    margin-top: 1.5rem;
    border: 1px solid #ddd; 
    padding: 1rem; 
  }
  
  .list-group {
    width: 70%;
  }
  
  .list-group-item {
    font-family: 'Arial', sans-serif;
  }

@media (max-width: 768px) {
    .my-4 {
      padding: 1rem; 
    }
  }
  
  